:root {
    --base-outline-color: rgb(255, 122, 32);
    --base-text-color: rgb(210, 201, 197);

    --top-margin: 50px;

    --button-color: rgb(216, 103, 27);
    --button-highlight-color: rgb(255, 122, 32);
    --button-text-color: rgb(227, 227, 227);
    --button-text-highlight-color: rgb(255, 255, 255);
}

::selection {
    background-color: rgb(202, 96, 26);
    color: rgb(211, 202, 198);
}

body {
    background-image: url("img/background.png");
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    justify-content: center;

    height: 100%;
    margin: 0;
}

#intro {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-section {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.665) 60%, rgba(255, 255, 255, 0));
    width: 100%;

    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-section p {
    color: rgb(219, 219, 219);
    font-size: 24px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

#title-section h1 {
    color: rgb(255, 122, 32);
    font-size: 168px;
}

#title-button-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter-section-top {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#thank-you-message {
    display: none;
}

#loader-top {
    display: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

#subscribe-top {
    margin-top: 15px;
}

#image-section {
    margin-top: 10px;
}

#main {
    width: 1100px;
    height: auto;
    margin-top: var(--top-margin);
    padding: 45px;
    border-radius: 45px 45px 45px 45px;

    background: linear-gradient(to top, #15171e 65%, #282b39);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section {
    margin-bottom: 200px;
    width: 100%;
}

#what-section {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

#action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#action-section p {
    text-align: center;
}

#explore-section {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

#explore-section .explore-section-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

#multiplayer-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

#multiplayer-section .multiplayer-section-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#multiplayer-section .multiplayer-section-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

#multiplayer-section .multiplayer-section-bottom p {
    text-align: center;
}

#newsletter-section-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#socials a {
    color: var(--base-outline-color);
    padding: 10px;
}

#images {
    display: flex;
    justify-content: center;
}

#socials {
    display: flex;
    justify-content: center;
}

#socials a {
    margin: 10px;
}

#error-text {
    display: none;
}

.error-text {
    color: red !important;
    font-size: 16px !important;
    margin: 5px !important;
    padding: 0px !important;
}

p {
    color: var(--base-text-color);
    font-size: 18px;
}

label {
    color: var(--base-text-color);
    font-size: 18px;
}

h1 {
    color: var(--base-outline-color);
    font-size: 88px;
}

h2 {
    color: var(--base-outline-color);
}

img {
    width: 500px;
    height: 281px;
    padding: 10px;
}

video {
    width: 500px;
    height: 281px;
    padding: 10px;
}

form {
    width: 450px;
}

form label {
    font-weight: bold;
}

input {
    width: 100%;
}

button {
    margin: 5px;
    width: 200px;
    height: 56px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 5px;
    font-size: 20px;

    border-style: solid;
    border-radius: 0.5px;
    border-color: var(--button-text-color-);

    transition: border-radius 0.3s ease;
}

button:hover {
    color: var(--button-text-highlight-color);
    background-color: var(--button-highlight-color);
    border-radius: 18px;
}

input {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.loader {
    border: 16px solid #f3f3f38f;
    /* Light grey */
    border-top: 16px solid var(--button-color);
    /* Blue */
    border-radius: 20%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}